.bg-color-00baff {
  background-color: $brand-color;
}
.bg-color-yellow {
  background-color: $yellow-color;
}
.bg-color-black {
  background-color: $yellow-color;
}
.color-black {
  color: black;
}
.color-yellow {
  color: $yellow-color;
}
.x--mt {
  margin-top: $ab-medium-size;
}

.color-text-light {
  color: #ddd;
}
