.button {
    cursor: pointer;
    display: inline-block;
    padding: 18px;
    background-color: $grey-color-light;
    border: 0;
    outline: 0;
    color: white;
    font-weight: 900;
    overflow: hidden;
    font-size: 18px;
    border-radius: 40px;

    &:after {
        content: ' ';
        margin-left: 12px;
        display: inline-block;
        transform: translateY(40px) rotate(60deg);
        transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);
    }

    &:hover {
        text-decoration: none;
        &:after {
            content: '➜';
            transform: translateY(0px) rotate(0deg);
        }
    }
}
