.button {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 40px;
    background-color: #444;
    border: 0;
    color: white;
    transition: box-shadow .2s ease;
    &:hover {
      color: white;
      text-decoration: none;
      box-shadow: 1px 3px 0px $shadow-color;
    }
  }