.home {
    position: relative;
    overflow: hidden;
}

.hero-wrapper {
    .hero-text-container {
        color: white;
        margin: 24px 0;
        text-align: left;

        .title {
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        h1 {
            font-weight: 100;
        }
    }
}
.main-text {
    display: flex;
    background-color: $main-bg;
    min-height: 600px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    h1 {
        color: $brand-color;
        font-weight: 900;
        margin: 20px 0;
    }
    p {
        color: #888;
        margin-bottom: 20px;
    }
}
.recommendations {
    min-height: 500px;
    background: $yellow-color;
    color: #000;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    .user-profile {
        margin-bottom: 20px;
    }
    .user-social {
        margin-top: 12px;
        a {
            padding: 3px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .user-image {
        display: inline-block;
        border-radius: 50%;
        border: 3px solid white;
        overflow: hidden;
        height: 120px;
        width: 120px;
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 18px;
    }
}
.reviews {
    min-height: 600px;
    width: 100%;
    background: $review-background;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    .box {
        padding: 30px 0;
    }
    .button {
        &:hover {
            color: black;
        }
    }
    h1 {
        font-weight: 900;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
    }
}
