<div class="personal">
    <h1 class="title">Papildoma informacija</h1>
    <div class="input">
        <label class="label" for="name">Vardas</label>
        <input class="input" type="text" name="name" id="name" required="required" placeholder="Kaip į Jus kreiptis"/>
    </div>
    <div class="input">
        <label class="label" for="email">El.pašto adresas</label>
        <input class="input" type="email" name="email" id="email" required="required" placeholder="Nurodykite kaip susiekti su jumis"/>
    </div>
    <div class="input">
        <label class="label" for="tel">Telefono numeris</label>
        <input class="input" type="tel" value="+370" name="tel" id="tel" required="required" placeholder="+370 xxxxxxxx"/>
    </div>
</div>