<div class="personal">
    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <div class="input-group">
                <label class="label" for="name">Vardas</label>
                <input class="input" type="text" name="name" id="name" required="required" />
            </div>
            <div class="input-group">
                <label class="label" for="email">El.pašto adresas</label>
                <input class="input" type="email" name="email" id="email" required="required" />
            </div>
            <div class="input-group">
                <label class="label" for="tel">Telefono numeris</label>
                <input class="input" type="tel" value="+370" name="tel" id="tel" required="required"/>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="input-group">
                <label class="label" for="komentaras">Komentaras</label>
                <textarea class="input textarea" name="komentaras" id="komentaras" placeholder="Aprašykite savo projektą..."></textarea>
            </div>
        </div>
    </div>
</div>