<div class="room-selection row">
    {% for question in site.data.questions %}
        <div class="category col-lg-4 col-md-3 col-sm-4 col-xs-6">
            <input name="{{ question.name }}" class="input" id="{{ question.name }}" type="checkbox">
            <label class="label" for="{{ question.name }}" style="background-image: url({% asset "{{ question.image }}" @path %});">
                <div class="checkmark">
                    {% asset icons/checkmark.svg @inline %}
                </div>
                <h1 class="category-title">{{ question.displayName }}</h1>
                <div class="overlay"></div>
            </label>
        </div>
    {% endfor %}
</div>