
<div class="slider x--mt">
    {% for slide in page.slides %}
        <div class="slider-image"> {% asset {{slide}} class="lazy" magick:quality=90 %} </div>
    {% endfor %}
</div>

<script>
    (function() {
        var imageSlider = function(slides) {
            for (var i = 0; i < slides.length; i++) {
                var slide = slides[i];
                if (slide.classList.contains('active')) {
                    slide.classList.remove('active');
                    if (i === slides.length - 1) {
                        slides[0].classList.add('active');
                        return
                    } else {
                        slides[i+1].classList.add('active');
                        return;
                    }

                }
            };
        }

        function Timer(fn, t) {
            var timerObj = setInterval(fn, t);
            this.stop = function() {
                if (timerObj) {
                    clearInterval(timerObj);
                    timerObj = null;
                }
                return this;
            }

            // start timer using current settings (if it's not already running)
            this.start = function() {
                if (!timerObj) {
                    this.stop();
                    timerObj = setInterval(fn, t);
                }
                return this;
            }

            // start with new interval, stop current interval
            this.reset = function(newT) {
                t = newT;
                return this.stop().start();
            }
        }
        var timing = 3500;
        var slider = document.querySelector('.slider');
        var slides = slider.children;
        var startSlider = new Timer(function() {
            for (var i = 0; i < slides.length; i++) {
                var slide = slides[i];
                if (slide.classList.contains('active')) {
                    slide.classList.remove('active');
                    if (i === slides.length - 1) {
                        slides[0].classList.add('active');
                        return
                    } else {
                        slides[i+1].classList.add('active');
                        return;
                    }

                }
            };
        }, timing);

        slider.addEventListener('click', function(e) {
            startSlider.stop();
            e.stopPropagation();
            e.target.offsetParent.classList.remove('active');
            if (e.target.offsetParent.nextElementSibling) {
                e.target.offsetParent.nextElementSibling.classList.add('active');
            } else {
                slides[0].classList.add('active');
            }
        }, false);

        slider.addEventListener('mouseover', function() {
            startSlider.stop();
        }, false);

        slider.addEventListener('mouseout', function() {
            if (slides.length) {
                startSlider.start();
            }
        }, false);

        if (slides.length) {
            slides[0].classList.add('active');
            startSlider.start();
        }
    })();
</script>