@charset "utf-8";

// Define defaults for each variable.

$base-font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol' !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$serif-font: 'Times New Roman', serif;

$spacing-unit: 30px !default;
$shadow-color: #292929 !default;
$text-color: #ddd !default;
$brand-color: #101010 !default;
$background-color: #0a0a0a !default;
$review-background: #30281f !default;

$main-bg: #edecec;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$yellow-color: #f4d351e6 !default;
$orange-color: #ec9800;

$table-text-align: left !default;

// Width of the content area
$content-width: 1400px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

$default-border-radius: 8px;
$default-box-shadow: 1px 1px 20px $shadow-color;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

@import 'minima/_base.scss';
@import 'minima/_layout.scss';
@import 'minima/_slider.scss';
@import 'minima/_home.scss';
@import 'minima/_elements.scss';
@import 'minima/_form.scss';
@import 'minima/_gallery.scss';
@import 'minima/_aliases.scss';

.site-header {
    width: 100%;
    background: $background-color;
    border: 0;
    z-index: 10;
    // border-bottom: 2px solid #f79500;
    // box-shadow: 2px 2px 1px lighten(#f79500, 1%);
}
.site-title {
    padding: 24px;
}
