---
layout: default
---

<div class="home">

<div class="wrapper">
    {% include hero_slider.html %}
</div>
<div class="wrapper">
  <div class="main-text">
    <div class="wrapper">
      <div class="row around-xs between-lg middle-lg">
          <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 col-lg-offset-1 first-xs">
              <div class="box">
                <h1>Įsirenginėjat būstą?</h1>
                <p>
                    Mes padėsime sukurti įvairaus sudėtingumo ir 
                    tipo baldus pritaikytus jūsų erdvei. Paruošime pasiūlymą, patarsime ir
                    pagamsime baldus kokybiškai ir kaip įmanoma greitai, nes įsirengti jau reikėjo vakar?
                </p>
                <div class="x--mt">
                  <a href="{{ "/baldu-uzsakymo-forma/" | relative_url }}" class="button bg-color-00baff">Įvertinti projektą</a>
                </div>
              </div>
          </div>
          <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 ">
              <div class="box">
                {% include slider.html %}
              </div>
          </div>
        </div>
      </div>
  </div>

  <div class="recommendations">
    <div class="wrapper">
      <div class="row center-xs middle-xs">
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-offset-lg-1">
          <div class="box user-profile">
            <div class="user-image">
              {% asset me.jpg magick:half magick:colorspace="gray" %}
            </div>
            <div class="user-name">
              Kiril Abaškin
            </div>
            <div class="user-social">
              <a href="https://www.facebook.com/kiril.abaskin" >
                {% asset icons/fb.png width=25 %}
              </a>
              <a href="https://www.linkedin.com/in/kiril-aba%C5%A1kin-34842137/">
                {% asset icons/linkedin.png width=25 %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 end-xs">
          <div class="box">
            <blockquote>
              Ateities baldai atliko puikų darbą,
              baldai buvo surinkti labai greitai,
              visos smulkmenos ir detalės buvo
              integruotos į virtuvės baldus.
            </blockquote>
            <a href="{{ "/projektai" | relative_url }}" class="button">Daugiau projektų</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="reviews">
    <div class="wrapper">
      <div class="row around-xs middle-xs">
        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
          <div class="box">
              <h1>Sužinokite baldų kaina</h1>
              <p>
                  Užpildikyte mūsų klausimyną ir gaukite asmeninį pasiūlymą. Planuokite biudžetą ir laiką, o dėl viso kito mes pasirūpinsimės.
              </p>
              <div class="x--mt"> 
                <a href="{{ "/baldu-uzsakymo-forma" | relative_url }}" class="button">kiek kainuos mano baldai?</a>
              </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
            <!--<div class="box">
              {% asset budget-planning.png magick:half %}
            </div>-->
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
