--- 
layout: default 
---

<article class="post">
    <div class="wrapper">
        <form class="request" action="https://liveformhq.com/form/e3dc0568-ca8e-4f4c-90b7-7d67b12479e4" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
            <p class="col-lg-6">
                Pasirinkite baldus erdvėms ir jūsų poreikiams, o mes susisieksime ir patikslinsime preliminarią projekto kainą ir pagaminimo laikotarpį.</p>
            {%- include room_selection.html -%}
            {%- include personal_info.html -%}
            <button class="button" id="submit">
                Noriu sužinoti kainą
            </button>
        </form>

    </div>

</article>
