--- 
layout: default 
---

<article class="post">
    <div class="wrapper">
        <form class="request" action="https://getform.io/f/805d9493-e241-46e1-8ec9-f01978d1779e" method="POST" autocomplete="off">
            <p class="color-text-light col-lg-6">
                Pasirinkite baldus erdvėms ir jūsų poreikiams, o mes susisieksime ir patikslinsime preliminarią projekto kainą ir pagaminimo laikotarpį.</p>
            <div class="row">
                {%- include room_selection.html -%}
                {%- include personal_info.html -%}
            </div>
            <button class="button" id="submit">
                Noriu sužinoti kainą
            </button>
        </form>

    </div>

</article>
